<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Messenger of {{username}}</title>
        
        <!-- Custome css for pages in general -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">

        <!-- Custom css for chat pages -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}">

        {% if chat %}
        <!-- SocketIO JS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        {% endif %}

        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Custom Chat JS-->
        <script src="{{url_for('static', filename='scripts/chat.js')}}"></script>

        <!-- Custom Notes JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/notes.js') }}"></script>

        <!-- Custom Messenger CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/messenger.css') }}">
        
        <!-- Custom Socketio JS-->
        <script src="{{url_for('static', filename='scripts/socketio.js')}}"></script>    

        
        
        <!-- Passing data to JS -->
        <script type="text/javascript">
            const uid = `{{uid}}`;
            const username = `{{username}}`;
            const posts = `{{posts}}`;
            const usernames = `{{usernames}}`
            const notesurl = `{{url_for("save_notes")}}`;
            const recordurl = `{{url_for("save_record")}}`;
            var room = `{{room}}`;
        </script>
    </head>

    <body>
        <main>
            <!-- Left side start -->
            <section id="left-section">
                <div id="qualifications">
                    {% if uid == 1 or uid ==2 or uid == 12 %}
                    <p><b>候选人评定标准：</b></p>
                    <p>招聘委员会对候选人的评定应遵循以下标准:</p>
                    <ul>
                        <li>优异的课业表现：<br/>
                            合格的候选人应在其求学阶段取得过<b>优异</b>的课堂成绩。</li>
                        <li>与定量研究相关的科研经历: <br/>
                            合格的候选人应具有熟练运用 
                            <b>统计学</b>或者<b>数学方法</b>完成<b>大数据分析</b>的能力。</li>
                        <li>与团队协作相关的工作经历： <br/>
                            合格的候选人应具有参与<b>跨部门或者跨机构公司项目</b>的工作经历。</li>
                    </ul>
                    {% else %}
                    <p><b>Preferred Qualifications for Candidate Evaluation:</b></p>
                    <p>Members in the Search Committee should follow three criteria to evaluate each candidate: </p>
                    <ul>
                        <li>Excellent coursework performance:  <br/>
                            Qualified candidates should receive <b>top</b> grades in theireducation programs.</li>
                        <li>Solid research experience in quantitative analysis:  <br/>
                            Qualified candidates should demonstrate proficient research skills in 
                            <b>large scale data</b> analysis using <b>statistical and/or computational methods.</b></li>
                        <li>Rich industrial experience in diverse teams:  <br/>
                            Qualified candidates should have sufficient experience of working in <b>cross-department or multi-institutional industrial teams/projects.</b></li>
                    </ul>
                    {% endif %}
                </div>
                <div id="cv_section">
                    <iframe class="cv active" id="0" src="{{ cv1 }}#toolbar=0&navpanes=0" type="application/pdf"></iframe>
                    <iframe class="cv" id="1" src="{{ cv2 }}#toolbar=0&navpanes=0" type="application/pdf"></iframe>
                    <iframe class="cv" id="2" src="{{ cv3 }}#toolbar=0&navpanes=0" type="application/pdf"></iframe>
                    <iframe class="cv" id="3" src="{{ cv4 }}#toolbar=0&navpanes=0" type="application/pdf"></iframe>
                    <footer class="pages">
                        <div class="pagination">
                            <a onclick="prevPage()">&laquo;</a>
                            <a class="page active" id="0"  onclick="showPage(0)">1</a>
                            <a class="page" id="1" onclick="showPage(1)">2</a>
                            <a class="page" id="2" onclick="showPage(2)">3</a>
                            <a class="page" id="3" onclick="showPage(3)">4</a>
                            <a id="next" onclick="nextPage()">&raquo;</a>
                        </div>
                    </footer>
                </div>
                
            </section>
            <!-- Left side end -->

            <!-- Right side start -->
            <section id="right-section">
                <!-- Notes start -->
                <section id="notes">
                    <header>Note Taking</header>
                    <textarea id="note-textbox" placeholder="Type your notes here...">{{ notes }}</textarea>
                </section>
                <!-- Notes end -->
                {% if chat %}
                <section id="messenger">
                    {% include 'messenger.html' %}
                </section>
                {% endif %}
            </section>
            <!-- Right side end -->
        </main>

        <footer>
            <div id="counter"></div>
            <button onclick="window.location.href = '{{ next }}';">NEXT</button>
        </footer>
        
    </body>
</html>