<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Hi {{username}}</title>
        </head>
    <body>
        <section class="cv">
            <header>Insert Example CV</header>
        </section>
       <section class="notes">
            <header class="notes-header">
                <h1>Note Taking</h1>
            </header>
            <main class="note-taking">
                <textarea rows="20" cols="40"> </textarea>
            </main>
        </section>
    </body>
</html>