<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Instructions Phase {{ phase }} For {{username}}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/instructions.css') }}">
    </head>

    <body>
        <header>Instructions</header>

        <iframe id="instructions" src="{{ file }}" type="application/pdf"></iframe>
        
        <footer>
            <button onclick="window.location.href = '{{ next }}';">Next</button>
        </footer>
    </body>
</html>