<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Instructions for {{username}}</title>
        </head>
    <body>
        <section class="instrucions">
            <header>Insert Instructions</header>
            <a href={{chat_url}} target="_blank">Enter Chat</a> 
        </section>
        <section class="notes">
            <main class="note-taking">
                <p>note taking</p>
                <textarea rows="20" cols="40"> </textarea>
            </main>
        </section>
    </body>
</html>