<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Instructions Phase 2 for {{username}}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/phase_2.0_english_instructions.css') }}">
    </head>

    <body>
        <header>Instructions</header>

        <iframe id="instructions" src="{{ url_for('static', filename='imgs/phase2_instruction.pdf') }}" type="application/pdf"></iframe>
        
        <footer>
            <button onclick="window.location.href = '{{phase_2_chat_interface_url}}';">Next (Chat Interface)</button>
        </footer>
        
    </body>
</html>