<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Instructions for {{username}}</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/phase_3.10_wait.css') }}">
        </head>
    <body>
            <section class="transcript-phase-3">
                 <button class="transcript-phase-3-btn" type="button" onclick="window.location.href = '{{phase_3_transcript_url}}';">Next (Transcripts) </button>
            </section>
    </body>
</html>