<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Instructions for {{username}}</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/practice.css') }}">
        </head>
    <body>
            <section class="practice-survey">
                <button class="survey-link-btn" type="button" onclick="window.location.href = '{{practice_survey_url}}';">Insert Practice Session Link</button>
            </section>
            <section class="instrucions-phase-2">
                 <button class="instrucions-phase-2-btn"type="button" onclick="window.location.href = '{{phase_2_english_instructions_url}}';">Next Instructions</button>
            </section>
    </body>
</html>