<!DOCTYPE html>
<html lang="en">
        <head>
            <title>Instructions Phase 2 for {{username}}</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/phase_4.0_english_instructions.css') }}">
        </head>
    <body>
        <main class="main-display">
            <section class="instrucions-phase-3">
                <header>Instructions</header>
                    <iframe src="{{ url_for('static', filename='imgs/phase4_instruction.pdf') }}" type="application/pdf" width="100%" height="700px"></iframe>
            </section>
        </main>
        <footer class="chat-phase-4">
            <button class="chat-phase-4-btn"type="button" onclick="window.location.href = '{{url_for('phase_4_chat_interface')}}';">Next (Chat Interface)</button>
        </footer>
        
    </body>
</html>