<section id="chat">
    <header class="chat-header">
        <div class="chat-header-title">
            <i class="fas fa-comment-alt"></i> Transcript
        </div>
    </header>
    <!-- Main section start -->
    <main id="posts">
        <!-- Left key section start -->
        {% for p in posts %} 
            <!-- Post section start-->
                {% if  (p.uid == 1 or p.uid == 3) %}
                <div class="message sender">
                {% else %}
                <div class="message receiver">
                {% endif %}
                    {% if trial_type == 'keys' %}
                    <div class="key-card">
                        {% for keyword in p.keywords.split(',') %}
                            {% if keyword | length > 0 %}
                                <div class="keyword">
                                    <span>{{keyword}}</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- Message bubble start-->
                    <div class="message-bubble">
                        <!-- Message info start -->
                        <div class="message-info">
                            <div class="message-info-name">{{ p.username }}</div>
                            <div class="message-info-time">{{ p.time }}</div>
                        </div>
                        <!-- Message info end -->
                        <!-- Message bubble text-start -->
                        <div class="message-text">{{ p.translation }}</div>
                        <!-- Message bubble text end-->
                    </div>
                    <!-- Message bubble end-->
                </div>
                <!-- Message end-->
        {% endfor %}
    </main>
    <!-- Main section end -->
</section>