<section id="chat">
    <header class="chat-header">
        <div class="chat-header-title">
            <i class="fas fa-comment-alt"></i> Winter Research
        </div>
    </header>
    <!-- Main section start -->
    <main id="posts">
        <!-- Left key section start -->
        {% for p in posts %} 
            {% if loop.index0 % 6 == 0 %}
                {% if loop.index0 == 0 %}
                    <section class="{{(loop.index0/6)|round|int}} block active">
                {% else %}
                    <section class="{{(loop.index0/6)|round|int}} block">
                {% endif %}
            {% endif %}
            <!-- Post section start-->
            <section class="post">
                <div class="key-card">
                    {% if  (p.uid == 1 or p.uid == 3) %}
                        <p>{{p.keywords}}</p>
                    {% endif %}
                </div>
                {% if  (p.uid == 1 or p.uid == 3) %}
                    <!-- Left message section start-->
                    <div class="left-messages">
                        <!-- Left message card start-->
                        <div class="msg-card">
                            <!-- Left message start-->
                            <div class="msg left-msg">
                                <!-- Left message bubble start-->
                                <div class="msg-bubble">
                                    <!-- Left message info start -->
                                    <div class="msg-info">
                                        <div class="msg-info-name">{{ p.username }}</div>
                                        <div class="msg-info-time">{{ p.time }}</div>
                                    </div>
                                    <!-- Left message info end -->
                                    <!-- Left message bubble text-start -->
                                    <div class="msg-text">
                                        <p class="message"> {{ p.body }}</p>
                                    </div>
                                    <!-- Left message bubble text end-->
                                </div>
                                <!-- Left message bubble end-->
                            </div>
                            <!-- Left message end-->
                        </div>
                        <!-- Left message card end-->
                    </div>
                    <!-- Left message section end-->                                        
                {% else %}
                    <!-- Right message section start-->
                    <div class="right-messages">
                        <!-- Right message card start-->
                        <div class="msg-card">
                            <!-- Right message start-->
                            <div class="msg right-msg">
                                <!-- Right message bubble start-->
                                <div class="msg-bubble">
                                    <!-- Right message info start -->
                                    <div class="msg-info">
                                        <div class="msg-info-name">{{ p.username }}</div>
                                        <div class="msg-info-time">{{ p.time }}</div>
                                    </div>
                                    <!-- Right message info end -->
                                    <!-- Right message bubble text-start -->
                                    <div class="msg-text">
                                        <p class="message"> {{ p.body }}</p>
                                    </div>
                                    <!-- Right message bubble text end-->
                                </div>
                                <!-- Right message bubble end-->
                            </div>
                            <!-- Right message end-->
                        </div>
                            <!-- Right message card end-->
                    </div>
                    <!-- Right message section end-->
                    {% endif %}
                
                <div class="key-card">
                    {% if  (p.uid == 2 or p.uid == 4) %}
                        <p>{{p.keywords}}</p>
                    {% endif %}
                </div>
            </section>
            <!-- Post section end-->
            {% if loop.index0 % 6 == 5 or posts|length - loop.index0 == 1%}
                </section>
            {% endif %}
            {% endfor %}
    </main>
    <!-- Main section end -->

    <!-- Navigation start -->
    <footer class="pages">
        <div class="pagination">
            <a onclick="prevPage()">&laquo;</a>
            <a class="page active" id="0"  onclick="showPage(0)">1</a>
                <a class="page" id="{{(loop.index0/6)|round|int}}" onclick="showPage(1)">2</a>
            <a class="page" id="2" onclick="showPage(2)">3</a>
            <a class="page" id="3" onclick="showPage(3)">4</a>
            <a id="next" onclick="nextPage()">&raquo;</a>
        </div>
    </footer>
    <!-- Navigation end -->
</section>