<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Phase {{ phase }} For {{ username }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/survey.css') }}">
        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Custom Socketio JS-->
        <script src="{{url_for('static', filename='scripts/survey.js')}}"></script>    
        
        <!-- Passing data to JS -->
        <script type="text/javascript">
            const survey = `{{survey}}`;
            const next = `{{next}}`;
        </script>
    </head>
    <body>
        <main>
            <button id="survey" onclick='clickSurvey()'>Survey Link</button>
            {% if next is defined %}
            <button id="next" disabled onclick="clickNext()">Next</button>
            {% endif %}
        </main>
        <!-- Custom Socketio JS -->
    </body>
</html>