<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Phase {{ phase }} For {{ username }}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/survey.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Custom Socketio JS-->
        <script src="{{url_for('static', filename='scripts/survey.js')}}"></script>    
        
        
        <!-- Passing data to JS -->
        <script type="text/javascript">
            const survey = `{{survey}}`;
            const next = `{{next}}`;
        </script>
    </head>
    <body>
        <iframe id="instructions" src="{{ instructions }}#toolbar=0&navpanes=0" type="application/pdf"></iframe>
        <footer>
            {% if next is not none %}
            <button id="next" onclick="clickNext()">NEXT</button>
            {% endif %}
            <button id="survey" onclick='clickSurvey()'>LINK</button>
        </footer>
    </body>
    
</html>