:root{
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

body{
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;

    display: flex;
}

#left-section {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#right-section {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#qualifications {
    flex: auto;
}

#cv {
    flex: auto;
}

#notes {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#note-textbox {
    resize: none;
    flex: auto;
}

#messenger {
    flex: 2 1 auto;

    border: var(--border)
}
