:root{
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

body{
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;

    display: flex;
}

#left-section {
    flex: 70%;

    display: flex;
    flex-direction: row;
}

#right-section {
    flex: 30%;

    display: flex;
    flex-direction: column;
}

#qualifications {
    flex: 30%;

    padding: 10px
}

#cv_section {
    flex: 70%;
    
    display: flex;
    flex-direction: column;
}

.cv {
    flex:95%
}

.pages {
    flex: 5%;
    
    background: #ddd;
}

#notes {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#note-textbox {
    resize: none;
    flex: auto;
}

#messenger {
    flex: 2 1 auto;

    display: flex;
    flex-direction: column;
    border: var(--border)
}

.cv:not(.active){
    display:none;
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}