footer {
    position: sticky;
    bottom: 0;

    background-color: white;

    flex: none;

    padding: 0.25rem;

}

footer button:hover {
  background-color: #2fa133; /* Green */
  color: white;
}

footer button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
/*     display: inline-block; */
/*     display: flex; */
/*     justify-content: right; */
    font-size: 16px;
    float: right;
}

footer button + button {
    margin-left: 1rem;
    margin-right: 1rem;
}