body {
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;

    display: flex;
}

#instructions-section {
    flex: 2 1 auto;

    display: flex;
    flex-direction: column;
}

#figures-section {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

#instructions {
    flex: auto;
}

#figures {
    flex: auto;
}