.main-display {
    display: flex;
    justify-content: center;
}

.instrucions-phase-1 {
    flex: 100%;
    padding: 10px 10px;
}

/* .figures {
    flex: 1 35%;
    padding: 10px 10px;
} */

.instructions {
  display: flex;
  justify-content: center;
}
.instructions-btn:hover {
  background-color: #2fa133; /* Green */
  color: white;
}

.instructions-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}