#chat {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

#posts {
    flex: 1 1 0; /* 0 needed to tell this flex box to start small then grow */
    overflow-y: auto;

    padding: 10px;
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.key-card {
    display: flex;
    align-items: center;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column;
}

.keyword {
    display: flex;
    background-color: #CCF2FF;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.message-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}
  
.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.message-info-name {
    margin-right: 10px;
    font-weight: bold;
}
  
.message-info-time {
    font-size: 0.85em;
}

.receiver .message-bubble {
    border-bottom-left-radius: 0;
}
  
.sender {
    flex-direction: row-reverse;
}
  
.sender .message-bubble {
    border-bottom-right-radius: 0;
}